version: "3.9"

services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"

  airflow:
    build: ./airflow
    ports:
      - "8080:8080"
    env_file: .env

  api:
    build: ./api
    ports:
      - "8000:8000"
    env_file: .env
