# =====================
# Core ML
# =====================
tensorflow==2.15.0
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.8.0
joblib==1.5.3

# =====================
# Database
# =====================
SQLAlchemy==1.4.54
psycopg2-binary==2.9.11

# =====================
# MLOps
# =====================
mlflow==3.8.1
